body {
  font-family: 'Montserrat', sans-serif;
}

section {
  padding: 1rem;
  background-color: rgb(151, 151, 151);
}

.card_description {
  max-height: 10rem;
}

.card_img {
  margin: 1rem auto;
  height: 20rem;
  width: auto;
}

/* Anchor */

.anchor {
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #646668;
  border-radius: 50%;
  color: #ffffff;
  border: 2px solid #646668;
}

a.anchor:hover {
  color: #646668;
  background-color: #ffffff;
}

/* Scrollbar */

::-webkit-scrollbar-track {
  background-color: rgb(151, 151, 151);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #303030;
  border-radius: 10px;
}