body {
  margin: 0;
}

.container {
  padding: 1rem;
  border-radius: .5rem;
}

.movie-card {
  margin: 0 auto 1rem;
  max-width: 18rem;  
}

.card-description {
  max-height: 10rem;
}

.card-img {
  margin: 1rem auto;
  max-width: 10rem;
  height: auto;
  max-height: 15rem;
}

.card-btn {
  margin: 0 auto;
}